<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <%= render 'shared/contents_search' %>
        <%= render 'shared/feed_item' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 center feed_picture">
        <%= image_tag 'default_image.png' %>
      </div>
      <div class="col-md-4">
        <h1 class='top-title'><i class="fab fa-instagram"></i> Insta Clone App</h1>
        <div class="card">
          <div class="card-body">
            <p>
              アカウントをお持ちですか？
              <%= link_to login_path, class: 'btn btn-outline-secondary top-button' do%>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </p>
            <p>
              アカウントをお持ちでないですか？
              <%= link_to new_user_url, class: 'btn btn-outline-secondary top-button' do%>
                <i class="fas fa-user-plus"></i> 新規登録
              <% end %>
            </p>
            <div class="title-border">または</div>
            <p>
              <%= link_to "/auth/facebook", class: 'btn btn-outline-secondary top-button2' do %>
                <i class="fab fa-facebook-square"></i> フェイスブックでログイン
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
