<div class="container ">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= form_for(@post) do |f| %>
        <span class="picture">
          <%= f.label :picture, '投稿する画像を選択' %>
          <%= f.file_field :picture, class: 'form-control', accept: 'image/jpeg, image/png' %>
        </span>
        <div class="field">
          <%= f.text_area :content, placeholder: "投稿するコメントを入力..." %>
        </div>
        <%= f.submit "投稿する", class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>
