<div class="container">
  <% provide(:title, "Log in") %>
  <h1 class="center"><i class="fas fa-sign-in-alt"></i> Log in</h1>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :nickname, 'ニックネーム' %>
        <%= f.text_field :nickname, class: 'form-control' %>

        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>次回から自動的にログインする</span>
        <% end %><br>

        <%= button_tag type: 'submit', class: "btn btn-outline-secondary btn-login" do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      <% end %>

      <p>
        アカウントをお持ちでないですか？
        <%= link_to new_user_url do %>
          <i class="fas fa-user-plus"></i> 新規登録
        <% end %>
      </p>
    </div>
  </div>
</div>
