<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.label :picture, "投稿する画像を選択" %>
    <%= f.file_field :picture, class: 'form-control' %>
  </span>

  <!-- <div class="field">
    <%#= f.label :content, 'つぶやく内容' %>
    <%#= f.text_area :content, placeholder: "Compose new post..." %>
  </div> -->
  <%= f.submit "投稿する", class: "btn btn-primary" %>

<% end %>
