<!-- <div class="col-md-4"> -->
  <li id="post-<%= post.id %>">
    <!-- <span class="user"><%#= link_to post.user.name, post.user %></span> -->
    <span class="content">
      <%#= post.content %>
      <% if post.picture? %>
        <%= image_tag post.picture.url, :class => 'picture_size' %>
      <% end %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
    <% if current_user == post.user %>
      <%= link_to "delete", post, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </li>
<!-- </div> -->
