<div class="col-md-4">
  <li id="post-<%= post.id %>">
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <!-- <span class="content"><%#= image_tag post.picture.url if not picture.empty? %></span> -->
    <span class="content"><%= post.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
  </li>
</div>
