<div class="">
  <%= link_to(notifications_path) do %>
    <% if unchecked_notifications.any? %>
      <span class="fa-stack">
        <i class="far fa-bell"></i>
      </span>
    <% else %>
      <i class="fas fa-bell"></i>
    <% end %>
  <% end %>
</div>
