<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-8 mx-auto">
  <div class="form-inline" %>
    <table class="table">
      <tbody>
        <tr>
          <td><span>
            <%= link_to user_path(visitor) do %>
              <strong>
                <%= visitor.name %>
              </strong>
              <%= 'さんが' %>
            <% end %>
          </span>
            <% case notification.action %>
            <% when 'follow' %>
              <%= "あなたをフォローしました" %>
            <% when 'like' %>
              <%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;" %>
              <%= "にいいねしました" %>
            <% when 'comment' %>
              <% if notification.post.user_id == visited.id %>
                <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
              <% else %>
                <span>
                  <%= link_to post_path(notification.post) do %>
                    <%= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini" %>
                    <strong>
                      <%= notification.post.user.name + 'さんの投稿' %>
                    </strong>
                  <% end %>
                </span>
              <% end %>
              <%= "にコメントしました" %>
            <% end %>
          <p class="text-muted mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.content %>
          </p>
          <div class="small text-muted text-right">
            <%= time_ago_in_words(notification.created_at).upcase %>
          </div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
