<div class="container mx-auto">
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <%= render notifications %>
    <%= paginate notifications %>
  <% else %>
    <p class="center">通知はありません</p>
  <% end %>
</div>
