<div class="logout-and-setting">
  <% if current_user?(@user) %>
    <p>
      <%= link_to edit_user_path(current_user), class: 'edit-logout-bottun' do %>
        <i class="fas fa-user-edit"></i> プロフィールを編集
      <% end %>
    </p>
    <p>
      <%= link_to logout_path, class: 'edit-logout-bottun', method: :delete do %>
        <i class="fas fa-sign-out-alt"></i> ログアウトする
      <% end %>
    </p>
  <% else %>
    <%= render 'follow_form' if logged_in? %>
  <% end %>
</div>
