<% provide(:title, "プロフィール編集") %>
<div class="container">
  <h1 class="center">プロフィール編集</h1>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :nickname, 'ニックネーム' %>
        <%= f.text_field :nickname, class: 'form-control' %>

        <%=f.label :profile_image, 'プロフィール画像' %>
        <%= f.file_field :profile_image %>

        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "プロフィールを更新する", class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>
