<% provide(:title, 'All users') %>
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= form_tag(users_path, :method => 'get') do %>
        <div class="input-group mb-3">
          <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "ユーザーを検索...", "aria-label" => "...", "aria-describedby" => "button-addon2" %>
          <div class="input-group-append">
            <%= button_tag "検索", :name => nil, :id => "button-addon2", :class => "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
      <table class="table">
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <% if user.profile_image?%>
                  <%= image_tag user.profile_image.url, class: 'index_profile_image' %>
                <% else %>
                  <%= image_tag 'default_user_image.jpeg', class: 'index_profile_image' %>
                <% end %>
                <%= link_to user.name, user, class: 'index_profile_name' %>
              </td>
              <td>
                <%= user.nickname %>
                <% if current_user.admin? && !current_user?(user) %>
                  <%= link_to "delete", user, method: :delete, data: { confirm: "ユーザーを削除します。よろしいですか？" } %>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
