<div class="container">
  <% provide(:title, 'Sign up') %>
  <h1 class="center">Sign up</h1>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :nickname, 'ニックネーム' %>
        <%= f.text_field :nickname, class: 'form-control' %>

        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "アカウントを作成する", class: "btn btn-outline-secondary" %>
      <% end %>
      <%= link_to policy_path do %>
        <div class="sighup-policy">
          <i class="far fa-file-alt"></i> 利用規約
        </div>
      <% end %>
    </div>
  </div>
</div>
