<% provide(:title, @user.name) %>
<div class="container center">
  <div class="row">
    <div class="col-md-4">
      <% if @user.profile_image?%>
        <%= image_tag @user.profile_image.url, class: 'profile_image' %>
      <% else %>
        <%= image_tag 'default_user_image.jpeg', class: 'profile_image' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h1><%= @user.name %>    <small class="text-muted"><%= @user.nickname %></small></h1>
      <table class="table center">
        <tbody>
          <tr>
            <section class="stats">
              <% @user ||= current_user %>
              <div class="stats">
                <td>
                  <a href="<%= following_user_path(@user) %>">
                    <strong id="following" class="stat">
                      <%= @user.following.count %>人をフォロー中
                    </strong>
                  </a>
                </td>
                <td>
                  <a href="<%= followers_user_path(@user) %>">
                    <strong id="followers" class="stat">
                      フォロワー<%= @user.followers.count %>人
                    </strong>
                  </a>
                </td>
              </div>
            </section>
            <td>
              <%= render 'logout_and_setting'%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <div class="row posts">
      <% @user.posts.each do |post| %>
        <div class="col-md-4">
          <li id="post-<%= post.id %>">
            <% if post.picture? %>
              <%= link_to image_tag(post.picture.url, class: 'show_picture'), post_path(post) %>
            <% end %>
          </li>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
