<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
          <li>
            <% if user.profile_image?%>
              <%= image_tag user.profile_image.url, class: 'index_profile_image' %>
            <% else %>
              <%= image_tag 'default_user_image.jpeg', class: 'index_profile_image' %>
            <% end %>
            <%= link_to user.name, user %>
            <%= user.nickname %>
          </li>
        <% end %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
</div>
