<%= form_tag root_path, :method => 'get' do %>
  <div class="input-group mb-3">
    <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "投稿内容を検索...", "aria-label" => "...", "aria-describedby" => "button-addon2" %>
    <div class="input-group-append">
      <%= button_tag "検索", :name => nil, :id => "button-addon2", :class => "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
