<% if @feed_items.any? %>
  <ol class="posts">
    <% @feed_items.each do |feed_item|%>
      <div class="card feed_card">
        <div class="card-header">
          <% if feed_item.user.profile_image? %>
            <%= image_tag feed_item.user.profile_image.url, class: 'home_profile_image' %>
          <% else %>
            <%= image_tag 'default_user_image.jpeg', class: 'home_profile_image' %>
          <% end %>
          <%= link_to feed_item.user.name, feed_item.user, :class => "feed_item_profile_link" %>
        </div>
        <div class="card-body">
          <% if feed_item.picture? %>
            <%#= image_tag(feed_item.picture.url, class: 'feed_picture', "data-toggle" => "modal", "data-target" => "#exampleModalCenter") %>
            <%= link_to image_tag(feed_item.picture.url, class: 'feed_picture'), post_path(feed_item) %>
          <% end %>
        </div>
        <div class="card-footer">
          <%= feed_item.content %>
        </div>
      </div>
    <% end %>
  </ol>
  <%= paginate @feed_items %>
<% end %>
