<footer class="footer">
  <div class="container">
    <small>
      The instagram clone app by Asai Shinji
    </small>
    <% if logged_in? %>
      <nav>
        <ul>
          <li>
            <%= link_to upload_path do %>
              <i class="far fa-plus-square"></i>
            <% end %>
          </li>
        </ul>
      </nav>
    <% else %>
    <% end %>
  </div>
</footer>
