<header class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Insta Clone App</a>
    <% if logged_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to users_path do %>
              <i class="far fa-compass"></i>
            <% end %>
          </li>
          <li>
            <%= link_to notification_path do %>
              <i class="far fa-envelope"></i>
            <% end %>
          </li>
          <li>
            <%= link_to current_user do %>
              <i class="fas fa-user"></i>
            <% end %>
          </li>
        </ul>
      </nav>
    <% else %>
    <% end %>
  </div>
</header>
