<% provide(:title, "Edit user") %>
<h1>プロフィール設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :image_name, 'プロフィール画像' %>
      <%= f.file_field :image_name, class: 'form-control' %>

      <%= f.label :name, '名前' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :user_name, 'ニックネーム' %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :website, 'ウェブサイト' %>
      <%= f.url_field :website, class: 'form-control' %>

      <%= f.label :self_introduce, '自己紹介' %>
      <%= f.text_field :self_introduce, class: 'form-control' %>

      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone, '電話番号' %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.label :sex, '性別' %>
      <%= f.text_field :sex, class: 'form-control' %>

      <p><%= link_to 'パスワードの再設定', edit_password_reset_path %></p>

      <%= f.submit "プロフィールを更新する", class: "btn btn-primary" %>
    <% end %>
    <div class="account-destroy">
      <% if current_user == @user %>
        <%= link_to "アカウントを削除", @user, method: :delete, data: { confirm: "自分のデータが全て消えます。本当によろしいですか？" }, class: 'account-destroy' %>
      <% end %>
    </div>
  </div>
</div>
