<% provide(:title, 'All users') %>
<h1><i class="far fa-compass"></i> ユーザー 一覧</h1>
<ul class="users">
  <%= paginate @users %>
  <% @users.each do |user| %>
    <li>
      <% if user.image_name? %>
        <%= image_tag user.image_name.url, :class => 'index_image' %>
      <% else %>
        <%= image_tag 'default_image.jpg', :class => 'index_image' %>
      <% end %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !(current_user == user) %>
      | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
    </li>
  <% end %>
  <%= paginate @users %>
</ul>
