<% provide(:title, "Profile") %>
<div class="center container">
  <h1><i class="fas fa-user"></i> プロフィール</h1>
  <div class="row">
    <div class="col-md-4">
      <% if @user.image_name? %>
        <%= image_tag @user.image_name.url, :class => 'show-image' %>
      <% else %>
        <%= image_tag 'default_image.jpg', :class => 'show-image' %>
      <% end %><br>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>
    <div class="col-md-6 profile-area">
      <p><span>名前</span>:  <%= @user.name %></p>
      <p><span>ニックネーム</span>:  <%= @user.user_name %><p>
      <p><span>ウェブサイト</span>:  <%= @user.website %></p>
      <p><span>自己紹介</span>:  <%= @user.self_introduce %></p>
    </div>
    <div class="col-md-2 profile-area">
      <%= render 'follow_form' if logged_in? %>
      <% if @user == current_user %>
        <p><%= link_to 'プロフィール設定', edit_user_path(current_user), class: 'btn btn-primary' %></p>
        <p><%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-primary'%></p>
    <% end %>
    </div>
  </div>
  <div class="row">
      <% if @user.posts.any? %>
        <h3><i class="far fa-image"></i> 投稿 (<%= @user.posts.count %>)</h3>
        <% @posts.each do |post| %>
          <ul class="Posts">
            <div class="col-md-4">
              <%= render post %>
            </div>
          </ul>
        <% end %>
        <%= paginate @posts %>
      <% end %>
  </div>
</div>
