<% provide(:title, "Password reset") %>
<h1>パスワード再設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :now_password, '現在のパスワード' %>
      <%= f.password_field :now_password, class: 'form-control' %>

      <%= f.label :password, '新しいパスワード' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, '新しいパスワード確認' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "パスワードを変更する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
