@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free';

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

p {
  color: #7C7C7D;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// couse error of bootstrap4
.field_with_errors {
  // @extend .has-error;
  // .form-control {
  //   color: $state-danger-text;
  // }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
  }
}

/* Posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #333;
    display: block;
    margin-left: 60px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

// top
.top-title {
  margin: 25px 0px;
}
.top-button {
  width: 100%;
  margin: 15px 0px;
}

.top-button2{
  width: 100%;
  margin-top: 20px;
}

.title-border {
  display: flex;
  align-items: center;
}
.title-border:before,
.title-border:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
.title-border:before {
  margin-right: 1rem;
}
.title-border:after {
  margin-left: 1rem;
}

// feed

.feed_card {
  margin: 30px 0px;
}

.feed_item_profile_link {
  text-decoration: none;
  color: #7C7C7D;
}

.feed_item_profile_link:hover {
  text-decoration: none;
  color: inherit;
}

// Picture

.img-box {
    width: 100%;
    padding-top: 50%;
    position: relative;
    img {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       object-fit: cover;
     }
}

.feed_picture {
  width: 690px;
  height: 690px;
  object-fit: cover;
}

.modal_picture {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.show_picture {
  width: 330px;
  height: 330px;
  object-fit: cover;
}

.profile_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.home_profile_image, .index_profile_image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}

// Post

.comment_form {
  margin-top: 10px
}

.comment-content {
  line-height: 0.8rem;
  font-size: 0.8rem;
}

.button-height input {
  height: 10px;
}

.delete-post-button {
  text-align: right;
  text-decoration: none;
  color: #7C7C7D
}

.delete-post-button:hover {
  text-align: right;
  text-decoration: none;
  color: #333;
}

.like-icon {
  text-decoration: none;
  color: #7C7C7D
}

.like-icon:hover {
  text-decoration: none;
  color: #333;
}

// pagenate

.pagination {
  margin-top: 15px;
  justify-content: center;
}

//index

.index_profile_name {
  text-decoration: none;
  color: #7C7C7D
}

.index_profile_name {
  text-decoration: none;
  color: #333;
}

//show-user

.edit-logout-bottun {
  text-decoration: none;
  color: #7C7C7D;
}

.edit-logout-bottun:hover {
  text-decoration: none;
  color: #333;
}

.stat {
  text-decoration: none;
  color: #7C7C7D;
}

.stat:hover {
  text-decoration: none;
  color: #333;
}

//login

.btn-login {
  width: 100%;
  margin-bottom: 20px;
}

//signup

.sighup-policy {
  text-decoration: none;
  color: #7C7C7D;
}

.sighup-policy:hover {
  text-decoration: none;
  color: #333;
}
