<% provide(:title, "投稿詳細") %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% if @post.picture? %>
        <%= image_tag(@post.picture.url, class: 'feed_picture') %>
      <% end %><br>
      <% if current_user?(@post.user) %>
        <%= link_to post_path, method: :delete, data: { confirm: "投稿が削除されます。本当によろしいですか？" } do %>
          <div class="delete-post-button">
            <i class="fas fa-times-circle"></i> 投稿を削除する
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <p>
                <% if @post.user.profile_image? %>
                  <%= image_tag @post.user.profile_image.url, class: 'home_profile_image' %>
                <% else %>
                  <%= image_tag 'default_user_image.jpeg', class: 'home_profile_image' %>
                <% end %>
                <%= @post.user.name %>
              </p>
              <p><%= @post.content %></p>
              <span class="timestamp">
                <small><%= time_ago_in_words(@post.created_at) %> ago.</small>
              </span>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
              <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
                <%= link_to "likes/#{@post.id}/destroy", method: :post do %>
                  <div class="like-icon">
                    <i class="fas fa-heart"></i> いいね！しています
                  </div>
                <% end %>
              <% else %>
                <%= link_to "likes/#{@post.id}/create", method: :post do %>
                  <div class="like-icon">
                    <i class="far fa-heart"></i> いいね！していません
                  </div>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
              <% @comments.each do |comment| %>
                <div>
                  <p class="comment-content"><%= comment.user.name %> | <%= comment.content %></p>
                </div>
              <% end %>
              <%= form_with model: [@post, @comment], local: true, :class => 'comment_form' do |f| %>
                <div class="input-group mb-3">
                  <%= f.text_field :content, :class => "form-control comment-form-height", :placeholder => "コメントの内容を入力...", "aria-label" => "...", "aria-describedby" => "button-addon2" %>
                  <div class="input-group-append">
                    <%= f.submit "コメント", :id => "button-addon2", :class => "btn btn-outline-secondary comment-form-height", :style => "height: 20px;" %>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
