<% provide(:title, 'Picture Upload') %>
<h1>画像投稿</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:posts, url: posts_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :picture, "投稿する画像を選択" %>
      <%= f.file_field :picture, class: 'form-control' %>

      <%= f.submit "画像を投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
