<% if logged_in? %>
  <div class="row">
    <div class="center">
      <div class="col-md-8">
        <h3>投稿フィード</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class='center container'>
    <div class="row">
      <div class="col-md-4 col-md-push-2">
        <%= image_tag 'top_image.jpg', size: '240x430' %>
      </div>
    　<div class="col-md-4 col-md-push-2">
        <h1>Insta Clone App</h1>
        <div class="login well">
          <p><%= link_to 'ログイン', login_path %></p>
          <p>---または---</p>
          <p><%= link_to 'Facebookでログイン', '#' %></p>
        </div>
        <div class="account-top">
          <p>アカウントをお持ちでないですか？<%= link_to '登録する', signup_path %></p>
          <p><%= link_to 'パスワードを忘れた場合', '#'%></p>
          <%= link_to image_tag('google_play.png', size: '140x42'), 'https://play.google.com/' %>
          <%= link_to image_tag('app_store.png', size: '140x42'), 'https://www.apple.com/jp/ios/app-store/' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
