<footer>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
      <a class="nav-link disabled" href="#">The Instagram Clone App by Asai Shinji</a>
      <% if logged_in? %>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <%= content_tag :li ,class: "nav-item justify-content-end" do%>
              <%=link_to upload_path, class:"nav-link" do%>
                <i class="far fa-plus-square"></i> Image Upload
              <%end%>
            <%end%>
          </ul>
        </div>
      <% end %>
    </nav>
  </div>
</footer>
