<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fab fa-instagram"></i> Insta Clone App
      <% end %>
      <% if logged_in? %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <%= content_tag :li ,class: "nav-item" do%>
              <%=link_to users_path, class:"nav-link" do%>
                <i class="far fa-compass"></i> All Users
              <%end%>
            <%end%>
            <%= content_tag :li ,class: "nav-item" do%>
              <%=link_to notifications_path, class:"nav-link" do%>
                <i class="far fa-bell"></i> Nortification
              <%end%>
            <%end%>
            <%= content_tag :li ,class: "nav-item" do%>
              <%=link_to current_user, class:"nav-link" do%>
                <i class="far fa-user"></i> Profile
              <%end%>
            <%end%>
          </ul>
        </div>
      <% end %>
    </nav>
  </div>
</header>
